
.z6{
background-color: pink;
}
.z6 h1{
color: blue;
}
.z6 h3{
color: red;
}
.z6 a{
color: green;
}
.z7{
background-image: url(../img/1.png);
width: 50px;
height: 50px;
box-shadow: inset 0 0 1em black;
}
.z9{
background-color: black;
height: auto;

}
.z9 li{
display: inline-block;
border-right: 1px solid white;
padding: 5px;
}
.z9_li1{
color: red;
}
.z9_li2{
color: blue;
}
.z9_li3{
color: yellow;
}
/*Для того чтоб избавиьтся от отступов я воспользовался 
*{
	margin: 0;
	padding: 0;
}
Если конечно я правильно понял, что требуется от меня
*/
 .z10 h1 {
    background: #524419;
    padding: 12px;
    color: #fff;
   }
  .z10 p {
    background: #cad8d0;
    padding: 10px;
   }
.batarey{
width: 150px;
height: 50px;
border: 2px solid #000;
margin-bottom: 10px;
position: relative;
margin-left: 5px;
}
.batarey::before, .batarey::after {
content: '';
position: absolute;
}  
.batarey::before { 
height: 100%; 
}
.batarey::after {
width: 10px;
height: 20px;
background: #000;
right: -10px; top: 15px;
}
.batarey_up::before {
width: 33%;
background: #ED1C24;
}
.batarey_middle::before {
width: 66%;
background: #FFC60B;
}
.batarey_down::before {
width: 100%;
background: #00A055;
}
.indicator{
	height: 20px;
	border: 1px solid #000;
	border-radius: 10px;
	position: relative;
	width: 100%;
}
.indicator::before{
content: '';
position: absolute;
height: 18px; width: 20%;
background: linear-gradient(to top, #5bc1fe 10%, #3F92C3 50%, #5bc1fe 90%);
border: 1px solid #008DF2;
box-shadow: 3px 0 3px rgba(0,0,0,0.5);
border-radius: 10px 0 0 10px;
}
.z13{
width: 100px; height: 100px;
text-align: center;
font: 40px/100px Times, serif;
border: 24px solid #95CD8B;
border-right: 24px solid #D0E6BB;
border-radius: 100px;
}
.blok_up{
width: 500px;
height: 60px;
background-color: green;
display: block;
vertical-align: middle;
position: relative;
}
.blok_up p{
padding: 4% 1% 5% 2%;
}
.blok_down{
background-color: #D0E6BB;
width: 700px;
height: 200px;
z-index: 1;
padding: 10px;
position: absolute;
top: 745px;
left: 35px;
}
.z15{
margin-top: 230px;
width: 700px;
height: 100px;
margin-left: 20px;
}
.z15 ul li{
	  width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    box-shadow: 0 0 4px #666;
    -moz-box-shadow: 0 0 4px #666;
    -webkit-box-shadow: 0 0 4px #666;
    padding: 2px;
    margin-right: 10px;
    background: -moz-linear-gradient(#fff, #d3cdc6);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#d3cdc6));
    background: linear-gradient(#fff, #d3cdc6);
}









.z16{
  width: 700px;
height: 300px;
margin-left: 20px;
}
.z16 label{
padding: 10px;
    padding-left: 0;
}
.lable_block{
      width: 100px;
    display: inline-block;
}
.z16 ul li{
  list-style: none;
  padding: 10px 0px 10px 0px;
}
.z16 ul li input{
}
.img_z16{
  width: 18px;
  height: 18px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
}
.img_z16_mandatory:before{
      content: "\2715";
      color: #FF0000;
}
.img_z16_check:before{
   content: "\2714";
   color: #008000;
}
.submit_z16{
  padding: 5px;
}
.weather{
width: 458px;
height: auto;
margin: 0 auto;
text-align: center;
}
.weather_block{
width: 150px;
display: inline-block;
    margin-bottom: 10px;
}
.weather_block:hover {
    -webkit-box-shadow: 0px 0px 30px 3px rgba(201,74,201,1);
    -moz-box-shadow: 0px 0px 30px 3px rgba(201,74,201,1);
    box-shadow: 0px 0px 30px 3px rgba(201,74,201,1);
}
.date{
background-color: #289ea9;
}
.date a{
color: #fff;
font-size: 25px;
}
.temperature{
font-size: 25px;
}
.z18 {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    margin-left: 10px;
    color: #000;
}
.z18 a {
    text-decoration: none;
    color:#000;
}
.z18 a:hover {
    color: #ff0000;
}
.z18:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #ffffff, #e8c1c1);
    color: #ff0000;
}
.z19{  
width: 500px;
margin: 0 auto;
font-size: 16px;
}
.z19 p{
  padding: 5px;
}
.z19_block{
 width:390px;
   overflow:hidden;
    text-align: center;
}
.charging{
   margin-left:5px;
   margin-bottom:10px;
   width:360px;
   background:#777;
   padding: 10px;
   transform:skewX(-30deg);
   color:#fff;
}
.inscription{
    display: inline-block;
        width: 182px;
        width:130px;
   transform:skewX(30deg);
   display:inline-block;
   line-height:20px;
   margin-right:10px;
}
.block_color{
  transform: rotate(0deg) scale(0.782) skew(0deg) translate(-2px);
    -webkit-transform: rotate(0deg) scale(0.782) skew(0deg) translate(-2px);
    -moz-transform: rotate(0deg) scale(0.782) skew(0deg) translate(-2px);
    -o-transform: rotate(0deg) scale(0.782) skew(0deg) translate(-2px);
    -ms-transform: rotate(0deg) scale(0.782) skew(0deg) translate(-2px);
    border: 1px solid #000;
    width: 20px;
    height: 20px;
     display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.block_blue{
    background-color: #50f8a8;
}
.block_yellow{
    background-color: #ffff00;
}
.block_orange{
    background-color: #ffa500;
}
.block_gray{
    background-color: #ccc;
}
 .z20{
padding:20px;
    width: 500px;
 }
  .z20 form{
   color:#fff;
   background-color: #0080ff;
   border:3px solid #205c73;
}
 .registration {
   font-size:1.8em;
   height:30px;
   border-bottom:1px solid #fff;
   padding: 20px;
}
 .email{
  padding: 20px;
}
.email input {
    width: 85%;
}
 .pas{
   display:inline-block;
       padding: 20px;
}
 .z20_submit{
  margin:20px; 
  background-color: #ffe26c;
  width:90px;
}
.z21{
margin: 10px;
}
.z21_up label{
   display: inline-block;
  max-width: 250px;
  position: relative;
  border-bottom: none;
  margin-bottom: -1px;
  border-radius: 10px 10px 0 0;
}
.z21_down, 
.z21_up label {
  border: 1px solid #add482;
  border-bottom: none;
  background: #c9e39c;
  font-family: Arial;
  padding: 10px;
}
.z21_down {
  min-height: 100px;
  border-radius: 0 10px 10px 10px;
}
.z21_up label::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px; 
  bottom: 0;
  left: -1px; 
  right: -1px;
  z-index: -1;
  border-radius: 10px 10px 0 0;
}
.z21_up label::after,
.z21_down {
  box-shadow: 0 0 20px gray;
}

.z22{
    background: #c2e1f5;
    padding: 4px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 95%;
}
.z22_block{
background: #88b7d5;
  color: #fff;
  text-align: center;
  height: 60px;
  line-height: 60px;
  position: relative;
}
.z22::before,.z22_block::before,.z22::after,.z22_block::after{
  border-style: solid;
  bottom: 100%;
  content: "";
  position: absolute;
}
.z22_block::before {
  border-color: transparent transparent #88b7d5 #88b7d5;
  border-width: 15px;
  left: 50%;
}

.z22_block::after {
  border-color:  transparent #88b7d5 #88b7d5 transparent;
  border-width: 15px;
  right: 50%;
  z-index: 1;
}

.z22::before {
  border-color: transparent transparent #c2e1f5 #c2e1f5;
  border-width: 16px;
  left: 50%;
}

.z22::after {
  border-color:  transparent #c2e1f5 #c2e1f5 transparent;
  border-width: 16px;
  right: 50%;
}

.z23{
  margin: 0 auto;
    width: 33%;
}
.z23 img{
border: 1px solid #d3d3d1;
    padding: 8px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 55px 40px -59px #000;
    -webkit-box-shadow: 0 55px 40px -59px #000;
    -moz-box-shadow: 0 55px 40px -59px #000;
}



















.menu_spisok ul::after, .menu_spisok {
    box-shadow: 0 0 20px gray;
}



.menu_spisok {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    width: 70%;
}


.menu_spisok ul {
    clear: left;
    position: relative;
    text-align: left;
    font: 14px ArialRegular;
    z-index: 110;
}

.menu_spisok ul li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
        padding: 0;
    margin: 0px 0px 0px 55px;
}

.menu_spisok ul li a {
    display: block;
    font-family: ArialRegular;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.menu_spisok ul  li:hover > a {
   
    border: 1px solid #000;
}




.menu_spisok ul li ul li:hover > a {
    color: #ffffff;
    background: #4ac1b2;
}

.menu_spisok ul li ul {
        background: #ffffff;
    border: 1px solid #000;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    height: auto;
    min-width: 120px;
}

.menu_spisok ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    -webkit-transition: margin 0.3s ease 0s;
    -moz-transition: margin 0.3s ease 0s;
    -o-transition: margin 0.3s ease 0s;
    transition: margin 0.3s ease 0s;
    margin: 0;
    z-index: 11;
}

.menu_spisok ul li ul li {
    position: relative;
    display: block;
    height: auto;
    margin: 0;
!important;
}

.menu_spisok ul li ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu_spisok ul li ul li a {
    padding: 10px 15px;
    text-align: center;
    border: none
}



.menu_spisok > ul > li ul li.parent > a::after {
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    content: "";
    display: inline-block;
    vertical-align: top;
    margin: 7px 0px 0px 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    height: 5px;
    width: 5px;
    float: right;
}








